<!DOCTYPE html>
<html lang="en">
<head>
  <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
  <title><%= name %></title>
  <style> 
    /* Horizontal Menu Styles */
    .nav {
        background-color: white;
        list-style: none;
        padding: 0;
        height: 50px;
        margin: 0;
    }

    .nav li{
        float: left;
        border: 0.1px solid black; 
    }

    .nav li a{
        display: block;
        text-decoration: none;
        color: Black;
    }

  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="page-header">
    <h1><%= name %></h1>
  </div>
    <!--<ul class = "nav">
        <li>
          <a href="#" >
            <i class="pe-7s-attention"></i> Alerts
          </a>
        </li>
        <li><a href="#" ><i class="pe-7s-settings"></i> Settings</a></li>
        <li><a href="#" ><i class="pe-7s-users"></i> People</a></li>
    </ul>
  -->
</div>

</body>
</html>
