<!doctype html>
<html lang="en">
<head>
	
</head>
<body>
	<fieldset>
        <form action="/sensor-data" method="post">
		  <label>Room</label>
		<input name="r" type="text" class="ghost-input" type="number" value="1" required>
		  <label>Red</label>
          <input name="red" type="text" type="number" class="ghost-input" required>
		  <label>Green</label>
		  <input name="green" type="text" type="number" class="ghost-input" required>
		  <label>Blue</label>
		  <input name="blue" type="text" type="number" class="ghost-input" required>
		  <label>Temperature</label>
		  <input name="temp" type="text" type="number" class="ghost-input" required>
		  <label>Brightness</label>
		  <input name="lux" type="text" type="number" class="ghost-input" required>
          <input type="submit" class="ghost-button" value="Change temps">
        </form>
      </fieldset>

</body>
 
</html>
