<!doctype html>
<html lang="en">
<head>
    <% include partials/userview-nav %>
    <style>
	    body {
	    	margin: 0em 2em;
	    }

	    #wrapper{
	    	margin: 2em 7em;
	    }

	    #power{
	      font-size: 100px;
	      color: green;
	    }

    </style>
</head>
<body>
	<div id="wrapper">
		<p id="power"><i class="pe-7s-power"></i></p> 
	</div>
	- slider for brightness
	- notifications


</body>
    <% include partials/footer %>
</html>
