<!doctype html>
<html lang="en">
<head>
    <% include partials/userview-nav %>
    <style>
	    body {
	    	margin: 0em 2em;
	    }

	    #wrapper{
	    	width: 90%;
	    	margin: auto;
	    	text-align: center;
	    }

	    #power{
	    	display: inline;
	    	float: none;
	    	font-size: 100px;
	    	color: green;
	    }

	    #back{
	    	font-family: Helvetica, Arial, sans-serif;
	    	display: inline;
	    	float: none;
	    	font-size: 20px;
	    	color: black;
	    	padding: 0;
	    	margin: 0;
	    }

		/* Slider */
		#slidecontainer {
			display: inline;
	    	float: none;
		}

		/* Yellow Error */
		#yellow_error {
			text-align: left;
			display: inline;
	    	float: none;
			margin: 2em;
			width: 70%;
		}

		.yellow_error_title {
			padding-left: 0.2em;
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			margin-bottom: 0.2em;
			background: #FEEFB3;
			color: #9F6000;
			font-size: 20px;
			border-bottom: 1px solid #9F6000;
		}

		#yellow_error p {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		/* Red Error */
		#red_error {
			text-align: left;
			display: inline;
	    	float: none;
			margin: 2em;
			width: 70%;
		}

		.red_error_title {
			padding-left: 0.2em;
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			margin-bottom: 0.2em;
			background: #FFD2D2;
			color: #D8000C;
			font-size: 20px;
			border-bottom: 1px solid #9F6000;
		}

		#red_error p {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
    </style>
</head>
<body>
	<div id="wrapper">
		<!-- Back Button -->
		<p id="back" onclick="onclick_back()"><i id="backIcon" class="pe-7s-angle-left"></i>Back</p>
		<p></p>

		<!-- Keep safe the room num :) -->
		<span id="roomNum" style="display:none;" value="<%= room.ID %>"> </span>

		<!-- Giant power button -->
		<p id="power"
			 <%if (room.lightOn == true){%>
		  		style="color:green;"
		  	<% } else{%>
		  		style="color:red;"
		  	<%}%>

		><i id="powerIcon" class="pe-7s-power" onclick="onclick_power()"></i></p> 


		<!-- Slider -->
		<div id="slidecontainer">
		  <input type="range" min="1" max="100" step="1" value="<%=room.brightness * 100%>" class="slider" id="myRange">
		  <p> Value: <span id="valueText"></span></p>
		</div>

		<!-- Alerts -->
		<% if (room.lightsDegraded === true) { %>
		    <div id="red_error">
				<div class="red_error_title">
					<i class="pe-7s-attention" ></i>
					<span>Warning</span>
				</div>
				<p>Lights have degraded. The system can no longer compensate for this degregation. <b>Please replace your lights.</b></p>
			</div>
		<% } else if (room.lightsCompensating === true) { %>
		    <div id="yellow_error">
				<div class="yellow_error_title">
					<i class="pe-7s-attention" ></i>
					<span>Caution</span>
				</div>
				<p>The lights are degrading. The system is compensating for this degregation. The lights will need to be replaced soon.</p>
			</div>
		<% } else { %>
		    <!-- show nada :) -->
		<% } %>

	</div>
	<script>
		// Slider
		var slider = document.getElementById("myRange");
		var sliderText = document.getElementById("valueText");
		sliderText.innerHTML = slider.value;
		if(slider.value == 0){
			sliderText.innerHTML = 1;
		}

		var roomNum = document.getElementById("roomNum");

		slider.onchange = function() {
			sliderText.innerHTML = this.value;
			// send info to backend

			var f = document.createElement("form");
			f.setAttribute('method',"post");
			f.setAttribute('action',"/new-brightness");

			var i = document.createElement("input"); //input element, text
			i.setAttribute('type',"text");
			i.setAttribute('name',"room");
			i.setAttribute('value', roomNum.getAttribute('value'));

			var b = document.createElement("input"); //input element, Submit button
			b.setAttribute('type',"number");
			b.setAttribute('name',"brightness");
			b.setAttribute('value', slider.value);

			var s = document.createElement("input"); //input element, Submit button
			s.setAttribute('type',"submit");
			s.setAttribute('value',"Submit");
			s.setAttribute('id', 'submit_button');

			f.appendChild(i);
			f.appendChild(b);
			f.appendChild(s);


			f.style.display = 'none';
			document.getElementsByTagName('body')[0].appendChild(f);
			document.getElementById('submit_button').click();

			f.remove();
		}

		// Power button
		function onclick_power() {
			var currentColor = power.style.color;

			// send info to backend then confirm with style change and saved changes notification
			console.log(currentColor);

			if(currentColor == "green")
			{
				//power.style.color = "red";
				var f = document.createElement("form");
				f.setAttribute('method',"post");
				f.setAttribute('action',"/onoffpower");

				var i = document.createElement("input"); //input element, text
				i.setAttribute('type',"text");
				i.setAttribute('name',"room");
				i.setAttribute('value', roomNum.getAttribute('value'));


				var b = document.createElement("input"); //input element, text
				b.setAttribute('type',"text");
				b.setAttribute('name',"newValue");
				b.setAttribute('value', "0");

				var s = document.createElement("input"); //input element, Submit button
				s.setAttribute('type',"submit");
				s.setAttribute('value',"Submit");
				s.setAttribute('id', 'submit_button_power');

				f.appendChild(i);
				f.appendChild(b);
				f.appendChild(s);


				f.style.display = 'none';
				document.getElementsByTagName('body')[0].appendChild(f);
				document.getElementById('submit_button_power').click();

				f.remove();
			}
			else if (currentColor == "red")
			{
				//power.style.color = "green";
				var f = document.createElement("form");
				f.setAttribute('method',"post");
				f.setAttribute('action',"/onoffpower");

				var i = document.createElement("input"); //input element, text
				i.setAttribute('type',"text");
				i.setAttribute('name',"room");
				i.setAttribute('value', roomNum.getAttribute('value'));


				var b = document.createElement("input"); //input element, text
				b.setAttribute('type',"text");
				b.setAttribute('name',"newValue");
				b.setAttribute('value', "1");

				var s = document.createElement("input"); //input element, Submit button
				s.setAttribute('type',"submit");
				s.setAttribute('value',"Submit");
				s.setAttribute('id', 'submit_button_power');

				f.appendChild(i);
				f.appendChild(b);
				f.appendChild(s);


				f.style.display = 'none';
				document.getElementsByTagName('body')[0].appendChild(f);
				document.getElementById('submit_button_power').click();

				f.remove();
			}
			
		}

		// Back Button
		function onclick_back(){
			var f = document.createElement("form");
			f.setAttribute('method',"post");
			f.setAttribute('action',"/userview_lobby");

			var s = document.createElement("input"); //input element, Submit button
			s.setAttribute('type',"submit");
			s.setAttribute('value',"Submit");
			s.setAttribute('id', 'submit_button_back');

			f.appendChild(s);

			f.style.display = 'none';
			document.getElementsByTagName('body')[0].appendChild(f);
			document.getElementById('submit_button_back').click();

			f.remove();
		}
	</script>

</body>
    <% include partials/footer %>
</html>
